.title {
  font-size: 24px;
  margin: 16px 4px;
}

.button {
  padding: 4px 8px;
  margin: 4px;
}

.handle-table {
  padding: 4px;
}

.handle-table tr {
  padding: 2px 0;
}

.handle-table th,
.handle-table td {
  padding: 0 12px;  
}